name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        docker login --username ozanaaslan --password ${{ secrets.gh_pat }} ghcr.io 
        docker build . --file Dockerfile --tag leafshot-web-backend:$(date +%s)
        docker push ghcr.io/ozanaaslan/leafshot-web-backend:$(date +%s)
